{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'create_ticket.css' %}">
{% endblock %}
{% block content %}
<div class="form-container">
    <h2>Créer un ticket</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.title.label_tag }}
        {{ form.title }}
        {{ form.description.label_tag }}
        {{ form.description }}
        <label class="custom-file-label" for="id_image">Image</label>
        <button type="button" class="file-button">Télécharger fichier</button>
        {% block extra_js %}
        <script src="{% static 'create_ticket.js' %}"></script>
        {% endblock %}
        {{ form.image }}
        <button type="submit" class="button-radius">Envoyer</button>
    </form>
</div>
{% endblock %}
