body{
    background: linear-gradient(120deg,#e2922913,#f7c88b25,#eeb56a18);
}

h1{
    text-align: center;
    align-content: center;
    border: 1px solid black;
}

h2{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

.button, .button-radius{
    background: #d4b892c4;
    padding: 8px 16px;
    border: 1px solid black;
}

.button-radius{
    border-radius: 10px;
}